ul {
    margin: 0;
    padding: 0;
}

.ui.list .list>.item:last-child, .ui.list>.item:last-child, ol.ui.list li:last-child, ul.ui.list li:last-child {
  padding: 0em;
  cursor: pointer;
  margin: 8px;
  font-weight: bold;
  font-size: 1.4em;
  transition: box-shadow 500ms ease, border 500ms ease;
}
