.App {
  margin: 0;
  padding: 0;
  animation: FadeInAnim 300ms ease;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: FadeInAnim;
}

.platform {
  width: 20em;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  cursor: pointer;
  list-style: none;
  margin: 8px;
  padding: 16px;
  font-weight: bold;
  transition: box-shadow 500ms ease, border 500ms ease;
}

.platform:hover {
border: 1px solid #00a2ff;
}

.site:hover {
border: 1px solid #00a2ff;
}
